html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('../public/PHM2.png');
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-strip {
  padding: 1.2rem 2.5rem;
  border-radius: 0.4rem;
  /* background-color: #0b1f33; */
}

.countdown-text {
  font-size: clamp(3.5rem, 9vw, 5.5rem);
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: none;
  color: #e3f0ff;
  text-shadow: 0 0 8px rgba(227, 240, 255, 0.4);
  white-space: nowrap;
}

@media (max-width: 480px) {
  .countdown-text {
    font-size: 2rem;
    letter-spacing: 0.04em;
  }

  .countdown-strip {
    padding: 0.8rem 1.4rem; /* can get rid of this most likely */
  }

  body {
    background-size: 200%;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #000;
  }
}
